* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 880px;
}

.time {
  margin-left: 10px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.calculator {
  background-color: black;
  padding: 5px;
  width: 286px;
  height: 550px;
  border-radius: 20px;
}

form {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-auto-rows: 65px;
  grid-gap: 5px;
  height: 50px;
  border-radius: 10px;
}

.calculator form input {
  border: 3px solid black;
  cursor: pointer;
  font-size: 22px;
  border-radius: 50px; /* 잘못된 border-radius 수정 */
  padding: 10px;
  background-color: #999898bd;
  color: white;
}

.calculator form input:hover {
  background-color: rgb(84, 88, 84);
  box-shadow: 1px 1px 2px rgb(43, 42, 42);
}

.calculator form input[type="text"] {
  grid-column: span 4;
  text-align: right;
  padding: 10px;
  background-color: rgb(3, 3, 3);
  font-size: 50px;
  color: white; /* 텍스트 색상 추가 */
}

.clear {
  grid-column: span 3;
  background-color: #b3b3b2 !important;
  border-radius: 20px;
}

.operator {
  background-color: #ff9c07 !important;
}

.dot {
  background-color: #b3b3b2 !important;
}

.result {
  grid-column-start: 3;
  grid-column-end: 5;
  width: 100%; /* 원의 지름 */
  height: 65px; /* 원의 지름 */
  border-radius: 50%; /* 원 모양을 위한 수정 */
}
